input[type=text] {
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 32px;
}

.decrypt-options {
    display: flex;
    flex-direction: column;
}

.fPort {
    margin-top: 5px;
    margin-bottom: 5px;
}